<div class="container">
	
	<div class="w-100 my-4">
		<h1>Lista de películas</h1>
	</div>

	<div class="w-100" *ngIf="!loaded">
		Cargando...
	</div>

	<div class="row" *ngIf="loaded && films.length > 0">
		<ng-container *ngFor="let f of films;">
			<div class="info-box col-12 col-sm-12 col-md-6 col-lg-4 mb-3">
				<div class="w-100 card">
					<img class="card-img-top pointer" src="./assets/img/{{ f.episode_id }}.jpg" alt="" (click)="goToDetailMovie(f);" >
					<div class="card-body">
						<div class="w-100 mb-3">
							<small class="text-muted">Fecha: {{ f.release_date }}</small>
						</div>
						<div class="w-100">
							<span class="font-weight-bold text-primary">Título:</span> {{ f.title }}
						</div>
						<div class="w-100">
							<span class="font-weight-bold text-primary">Director:</span> {{ f.director }}
						</div>
						<div class="w-100">
							<span class="font-weight-bold text-primary">Opening:</span> {{ f.opening_crawl  }}
						</div>
						<div class="w-100">
							<span class="font-weight-bold text-primary">Productor:</span> {{ f.producer  }}
						</div>
						<hr>
						<div class="w-100">
							<div class="link">
								<div class="btn btn-primary text-white" (click)="goToDetailMovie(f);">
									Ver más
								</div>
							</div>						
						</div>
					</div>
				</div>
			</div>
		</ng-container>
	</div>
	<div class="row" *ngIf="loaded && films.length == 0">
		<div class="col">
			<h3>Películas no encontradas</h3>
		</div>
	</div>
</div>