<div class="container">
	
	<div class="w-100 my-3 text-right">
		<div class="btn btn-secondary" (click)="goToListFilms();">
			Volver
		</div>
	</div>

	<div class="w-100" *ngIf="loaded && film.title">
		<h1>Película: {{ film.title }}</h1>
	</div>

	<div class="w-100" *ngIf="!loaded">
		Cargando...
	</div>

	<div class="row" *ngIf="loaded && film.title">
		
		<div class="col-12 col-sm-12 col-md-4 col-lg-4 text-center">
			<img class="cover-film" src="./assets/img/{{ film.episode_id }}.jpg" alt="" >
		</div>
		
		<div class="col-12 col-sm-12 col-md-8 col-lg-8">
			<div class="w-100 mb-3">
				<small class="text-muted">Fecha: {{ film.release_date }}</small>
			</div>
			<div class="w-100">
				<span class="font-weight-bold text-primary">Director:</span> {{ film.director }}
			</div>
			<div class="w-100">
				<span class="font-weight-bold text-primary">Opening:</span> {{ film.opening_crawl  }}
			</div>
			<div class="w-100">
				<span class="font-weight-bold text-primary">Productor:</span> {{ film.producer  }}
			</div>
		</div>

		<div class="w-100">
			<hr>
		</div>
		
	</div>

	<div class="row" *ngIf="loaded && film.title">
		<div class="col mb-3">
			<h3>Personajes: </h3>
		</div>
		<div class="w-100"></div>
		<ng-container *ngFor="let c of characters;">
			<div class="info-box col-12 col-sm-12 col-md-6 col-lg-4 mb-3">
				<div class="w-100 card">
					<div class="card-body">
						<div class="w-100">
							<span class="font-weight-bold text-primary">Nombre:</span> {{ c.name }}
						</div>
						<div class="w-100">
							<span class="font-weight-bold text-primary">Fecha de nacimiento:</span> {{ c.birth_year  }}
						</div>
						<div class="w-100">
							<span class="font-weight-bold text-primary">Género:</span> {{ c.gender  }}
						</div>
						<div class="w-100">
							<span class="font-weight-bold text-primary">Masa:</span> {{ c.mass +' kg' }}
						</div> 
						<div class="w-100">
							<span class="font-weight-bold text-primary">Altura:</span> {{ c.height +' cm' }}
						</div>
						<hr>
						<div class="w-100">
							<div class="link">
								<div class="btn btn-primary text-white" (click)="goToCharacterStarships(c.characterId);">
									Ver más
								</div>
							</div>						
						</div>
					</div>
				</div>
			</div>
		</ng-container>
	</div>
	<div class="row" *ngIf="loaded && !film.title">
		<div class="col">
			<h3>Película no encontrada</h3>
		</div>
	</div>
</div>