header
	width: 100%
	height: 80px
	max-height: 80px
	background-color: black
	box-shadow: 0px 2px 5px rgba(0,0,0,0.4)
	padding: 16px 32px
	text-align: center


header .content-img
	width: 80px
	max-width: 80px
	padding: 1px
	display: inline-block


header .content-img img
	width: 100%


#content-page
	width: 100%
	margin-top: 8px
