<header>
  <div class="content-img"><img class="pointer" (click)="goToHome();" src="../assets/img/logo.png" alt=""></div>
</header>

<div id="content-page">
  <router-outlet></router-outlet>  
</div>
