<div class="container">
	
	<div class="w-100 my-3 text-right">
		<div class="btn btn-secondary" (click)="goToDetailMovie(filmId);">
			Volver
		</div>
	</div>

	<div class="w-100" *ngIf="loaded && character.name">
		<h1>Personaje: {{ character.name }}</h1>
	</div>

	<div class="w-100" *ngIf="!loaded">
		Cargando...
	</div>

	<div class="w-100" *ngIf="loaded && character.name">
		<div class="w-100">
			<span class="font-weight-bold text-primary">Fecha de nacimiento:</span> {{ character.birth_year  }}
		</div>
		<div class="w-100">
			<span class="font-weight-bold text-primary">Género:</span> {{ character.gender  }}
		</div>
		<div class="w-100">
			<span class="font-weight-bold text-primary">Masa:</span> {{ character.mass +' kg' }}
		</div> 
		<div class="w-100">
			<span class="font-weight-bold text-primary">Altura:</span> {{ character.height +' cm' }}
		</div>
		<hr>
	</div>

	<div class="row" *ngIf="loaded && character.name">
		<div class="col mb-3">
			<h3>Naves: </h3>
		</div>
		<div class="w-100"></div>
		<ng-container *ngFor="let s of starships;">
			<div class="info-box col-12 col-sm-12 col-md-6 col-lg-4 mb-3">
				<div class="w-100 card">
					<div class="card-body">
						<div class="w-100">
							<span class="font-weight-bold text-primary">Nombre de nave:</span> {{ s.name }}
						</div>
						<div class="w-100">
							<span class="font-weight-bold text-primary">Modelo:</span> {{ s.model  }}
						</div>
						<div class="w-100">
							<span class="font-weight-bold text-primary">Clase:</span> {{ s.starship_class  }}
						</div>
						<div class="w-100">
							<span class="font-weight-bold text-primary">Número de pasajeros:</span> {{ s.passengers }}
						</div> 
						<div class="w-100">
							<span class="font-weight-bold text-primary">Películas:</span>
							<ul>
								<li *ngFor="let f of s.dataFilms;"> {{ '- '+f.title }}</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</ng-container>
		<div class="w-100"></div>
		<div class="col" *ngIf="starships.length == 0">Este personaje no ha pilotado ninguna nave.</div>
	</div>
	<div class="row" *ngIf="loaded && !character.name">
		<div class="col">
			<h3>Personaje no encontrado</h3>
		</div>
	</div>
</div>