/* You can add global styles to this file, and also import other style files */

$primary: #FFA000;
$theme-colors: ("primary": $primary); 

@import "~bootstrap/scss/bootstrap"

*, *::before, *::after
	font-family: 'Roboto'
	color: #424242

.btn
	cursor: pointer
	box-shadow: 1px 1px 5px rgba(0,0,0,0.2)
	transition: 0.3s

.btn:hover
	box-shadow: 4px 4px 5px rgba(0,0,0,0.3)


.info-box
	ul li
		list-style: none
	.card
		border: none
		box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12)

.pointer
	cursor: pointer